<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicExpresso.Core" version="2.1.0" targetFramework="net471" />
  <package id="lz4net" version="1.0.15.93" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="protobuf-net" version="2.3.15" targetFramework="net471" />
  <package id="SharpDX" version="4.1.0" targetFramework="net471" />
  <package id="SharpDX.Mathematics" version="4.1.0" targetFramework="net471" />
  <package id="ZstdNet" version="1.3.3" targetFramework="net471" />
</packages>