[submodule "bcffnet"]
	path = bcffnet
	url = https://github.com/healingbrew/bcffnet
[submodule "revorbstd"]
	path = revorbstd
	url = https://github.com/healingbrew/revorbstd
[submodule "TACTLib"]
	path = TACTLib
	url = https://github.com/overtools/TACTLib
