<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0-preview.19073.11" targetFramework="net471" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
</packages>